@using Newtonsoft.Json
@using AppData.ViewModels.ThongKe
@model ThongKeViewModel
@{
    ViewData["Title"] = "ThongKe";
}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation-vn"></script>
<!-- Favicon icon -->

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="shortcut icon" href="~/ThongKe/assets/images/favicon.png" type="image/x-icon">
<link rel="icon" href="~/ThongKe/assets/images/favicon.ico" type="image/x-icon">

@*<!-- Google font-->
<link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">*@

<!-- themify -->
<link rel="stylesheet" type="text/css" href="~/ThongKe/assets/icon/themify-icons/themify-icons.css">

<!-- iconfont -->
<link rel="stylesheet" type="text/css" href="~/ThongKe/assets/icon/icofont/css/icofont.css">

<!-- simple line icon -->
<link rel="stylesheet" type="text/css" href="~/ThongKe/assets/icon/simple-line-icons/css/simple-line-icons.css">

<!-- Required Fremwork -->
<link rel="stylesheet" type="text/css" href="~/ThongKe/assets/plugins/bootstrap/css/bootstrap.min.css">

<!-- Chartlist chart css -->
<link rel="stylesheet" href="~/ThongKe/assets/plugins/chartist/dist/chartist.css" type="text/css" media="all">

<!-- Weather css -->
<link href="~/ThongKe/assets/css/svg-weather.css" rel="stylesheet">


<!-- Style.css -->
<link rel="stylesheet" type="text/css" href="~/ThongKe/assets/css/main.css">

<!-- Responsive.css-->
<link rel="stylesheet" type="text/css" href="~/ThongKe/assets/css/responsive.css">

<div class="row mb-4">
    <div class="main-header col-12">
        <h4>Thống Kê Dashboard</h4>
    </div>
</div>

<!-- Tổng quan -->
<div class="row dashboard-header mb-4">
    <div class="col-lg-3 col-md-6">
        <div class="card dashboard-product p-3">
            <span>Tổng thành viên</span>
            <h2>@Model.SoLuongThanhVien</h2>
            <i class="ti-user text-warning-color float-right" style="font-size:28px"></i>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card dashboard-product p-3">
            <span>Tổng đơn hàng</span>
            <h2>@Model.SoLuongDonHang</h2>
            <i class="ti-shopping-cart text-primary-color float-right" style="font-size:28px"></i>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card dashboard-product p-3">
            <span>Tổng sản phẩm</span>
            <h2>@Model.SoLuongSanPham</h2>
            <i class="ti-package text-success-color float-right" style="font-size:28px"></i>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card dashboard-product p-3">
            <span>Đơn hàng mới hôm nay</span>
            <h2>@Model.SoDonHangMoi</h2>
            <i class="ti-bolt text-danger-color float-right" style="font-size:28px"></i>
        </div>
    </div>
</div>

<!-- Lọc theo thời gian -->
<div class="row mb-3">
    <div class="col-12 d-flex justify-content-end">
        <p class="mr-2">Chọn thời gian:</p>
        <input type="text" id="daterange" value="12/01/2023 - 12/31/2023" class="form-control" style="width:30%;" />
    </div>
</div>

<!-- Biểu đồ -->
<!-- Biểu đồ doanh thu với tùy chọn ngày/tháng/năm -->
<div class="row mb-4">
    <div class="col-lg-8">
        <div class="card p-3">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h5>Doanh thu</h5>
                <div>
                    <label><input type="radio" name="chartType" value="day" checked>Ngày</label>
                    <label class="ml-2"><input type="radio" name="chartType" value="month">Tháng</label>
                    <label class="ml-2"><input type="radio" name="chartType" value="year">Năm</label>
                </div>
            </div>
            <canvas id="lineChart" style="height:300px;"></canvas>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card p-3">
            <canvas id="pieChart" style="height:300px;"></canvas>
        </div>
    </div>
</div>
<!-- Sản phẩm mới bán gần đây -->
<div class="row mb-4">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Sản phẩm mới bán gần đây</h5>
            </div>
            <div class="card-block table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Tên sản phẩm</th>
                            <th>Số lượng bán</th>
                            <th>Doanh thu</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ThongKeSanPham != null && Model.ThongKeSanPham.Count > 0)
                        {
                            foreach (var sp in Model.ThongKeSanPham)
                            {
                                <tr>
                                    <td>@sp.TenSP</td>
                                    <td>@sp.SoLuong</td>
                                    <td>@String.Format("{0:N0} VNĐ", sp.DoanhThu)</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3" class="text-center">Không có dữ liệu</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/ThongKe/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/daterangepicker@3.1/daterangepicker.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<script>
        $(function () {
        // Lấy ngày đầu năm và hôm nay
        var start = moment().startOf('year');
        var end = moment();

        $('#daterange').daterangepicker({
            opens: 'left',
            startDate: start,
            endDate: end
        }, function (start, end, label) {
            location.href = "/ThongKe/ThongKeAdmin?startDate=" + start.format('YYYY-MM-DD') + "&endDate=" + end.format('YYYY-MM-DD');
        });
    });

    var labelBars = [];
    var dataBars = [];
    var labelLines = [];
    var dataLines = [];
    var labelPies = [];
    var dataPies = [];
    @{
        foreach (var x in @Model.BieuDoCot)
        {
            @:labelBars.push('@Html.Raw(x.TenSP)')
            @:dataBars.push(@x.SoLuong)
        }
        foreach (var x in Model.BieuDoDuong)
        {
            @:labelLines.push('@x.Ngay.ToString("MM/dd/yyyy")')
            @:dataLines.push(@x.DoanhThu)
        }
        foreach (var x in Model.BieuDoTron)
        {
            @:labelPies.push('@Html.Raw(x.TrangThaiHoaDon)')
            @:dataPies.push(@x.PhanTram)
        }
    }
    // ======== Biểu đồ cột / đường (Doanh thu) =========
    var dataDoanhThu = @Html.Raw(JsonConvert.SerializeObject(Model.BieuDoDuong ?? new List<ThongKeDuongViewModel>()));

    var chartLine;

    function groupData(type) {
        let labels = [];
        let values = [];

        if (type === "day") {
            dataDoanhThu.forEach(item => {
                labels.push(moment(item.Ngay).format("DD/MM"));
                values.push(item.DoanhThu);
            });
        } else if (type === "month") {
            let grouped = {};
            dataDoanhThu.forEach(item => {
                let key = moment(item.Ngay).format("MM/YYYY");
                if (!grouped[key]) grouped[key] = 0;
                grouped[key] += item.DoanhThu;
            });
            labels = Object.keys(grouped);
            values = Object.values(grouped);
        } else if (type === "year") {
            let grouped = {};
            dataDoanhThu.forEach(item => {
                let key = moment(item.Ngay).format("YYYY");
                if (!grouped[key]) grouped[key] = 0;
                grouped[key] += item.DoanhThu;
            });
            labels = Object.keys(grouped);
            values = Object.values(grouped);
        }

        return { labels: labels, data: values };
    }

    function initLineChart() {
        var ctx = document.getElementById("lineChart").getContext("2d");
        var g = groupData("day");

        chartLine = new Chart(ctx, {
            type: 'bar', // có thể đổi thành 'line' nếu bạn muốn
            data: {
                labels: g.labels,
                datasets: [{
                    label: "Doanh thu",
                    data: g.data,
                    backgroundColor: '#4CAF50'
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: { display: false },
                    title: { display: true, text: "Doanh thu theo ngày" }
                },
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            callback: function (value) {
                                return value.toLocaleString('vi-VN') + ' VNĐ';
                            }
                        }
                    }
                }
            }
        });
    }

    function updateLineChart(type) {
        var g = groupData(type);

        chartLine.data.labels = g.labels;
        chartLine.data.datasets[0].data = g.data;

        if (type === "day") chartLine.options.plugins.title.text = "Doanh thu theo ngày";
        if (type === "month") chartLine.options.plugins.title.text = "Doanh thu theo tháng";
        if (type === "year") chartLine.options.plugins.title.text = "Doanh thu theo năm";

        chartLine.update();
    }

    // ======== Biểu đồ tròn (Trạng thái hóa đơn) =========
    var dataTron = @Html.Raw(JsonConvert.SerializeObject(Model.BieuDoTron ?? new List<ThongKeTronViewModel>()));
    var labelPies = dataTron.map(x => x.TrangThaiHoaDon);
    var dataPies = dataTron.map(x => x.PhanTram);


        function initPieChart() {
        var ctxPie = document.getElementById("pieChart").getContext("2d");
        new Chart(ctxPie, {
            type: 'pie',
            data: {
                labels: labelPies,
                datasets: [{
                    data: dataPies,
                    backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56'],
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: { position: 'bottom' },
                    title: {
                        display: true,
                        text: "Biểu đồ trạng thái hóa đơn"
                    }
                }
            }
        });
    }

    // ======== Khởi chạy =========
    $(document).ready(function () {
        initLineChart();
        initPieChart();

        $('input[name="chartType"]').change(function () {
            var type = $(this).val();
            updateLineChart(type);
        });
    });
</script>



