@model AppData.ViewModels.KhuyenMaiView

@{
    ViewData["Title"] = "Thêm khuyến mãi";
    Layout = "~/Views/Shared/_LayoutForAdmin.cshtml";
}

<div class="container mt-4">
    <h3 class="text-center text-uppercase mb-4 text-primary">Thêm khuyến mãi</h3>

    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

        <div class="row g-3">
            <div class="col-md-6">
                <label class="form-label text-dark">Mã khuyến mãi</label>
                <input asp-for="Ten" class="form-control" />
                <span asp-validation-for="Ten" class="text-danger"></span>
                <span class="text-danger">@ViewData["Ma"]</span>
            </div>

            <div class="col-md-6">
                <label class="form-label text-dark">Giá trị</label>
                <input asp-for="GiaTri" class="form-control" />
                <span class="text-danger">@ViewData["GiaTri"]</span>
            </div>

            <div class="col-md-6">
                <label class="form-label text-dark">Loại khuyến mãi</label>
                <div class="input-group">
                    <div class="form-check me-3">
                        <input class="form-check-input" type="radio" asp-for="TrangThai" value="1" checked />
                        <label class="form-check-label">Phần trăm</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="TrangThai" value="0" />
                        <label class="form-check-label">Tiền mặt</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-label text-dark">Mô tả</label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label class="form-label text-dark">Ngày áp dụng</label>
                <input asp-for="NgayApDung" type="datetime-local" class="form-control" />
                <span class="text-danger">@ViewData["NgayApDung"]</span>
            </div>

            <div class="col-md-6">
                <label class="form-label text-dark">Ngày kết thúc</label>
                <input asp-for="NgayKetThuc" type="datetime-local" class="form-control" />
                <span class="text-danger">@ViewData["NgayKetThuc"]</span>
                <span class="text-danger">@ViewData["Ngay"]</span>
            </div>

           
        </div>

        <div class="mt-4 d-flex justify-content-end gap-2">
            <a asp-action="GetAllKM" class="btn btn-secondary">Quay lại</a>
            <button type="submit" class="btn btn-success">Thêm khuyến mãi</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
