@using AppData.ViewModels.SanPham
@model List<UploadAnhViewModel>

<h2>Thêm ảnh cho từng màu</h2>

<form asp-action="AddAnhToSanPhamChiTiet" method="post" enctype="multipart/form-data">
    <table class="table">
        <thead>
            <tr>
                <th>Màu</th>
                <th>Ảnh</th>
                <th>Upload ảnh</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    @*<td>
                        @Model[i].TenMau
                        <input type="hidden" name="model[@i].IDChiTietSanPham" value="@Model[i].IDChiTietSanPham" />
                        <input type="hidden" name="model[@i].MaMau" value="@Model[i].MaMau" />
                        <input type="hidden" name="model[@i].TenMau" value="@Model[i].TenMau" />
                    </td> *@
                    <td>
                        <input type="file" name="model[@i].Image" class="form-control" />
                    </td>
                    <td>@Model[i].TenMau</td>
                    <td><div style="width: 30px; height: 30px; background-color: @Model[i].MaMau;"></div></td>
                    <td>
                        <input asp-for="@Model[i].Image" type="file" name="model[@i].Image" class="form-control" />
                        <input type="hidden" name="model[@i].IDChiTietSanPham" value="@Model[i].IDChiTietSanPham" />
                        <input type="hidden" name="model[@i].MaMau" value="@Model[i].MaMau" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-success">Lưu ảnh</button>
</form>

